
.side{
    display: block;
    width:250px;
    height:100%;
    border-right: 1px dotted #666666;
    float:left;
}

.navigation{
    height:35px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #659bc1;
}

.content{
    height: calc(100% - 35px);
    border-top: 1px dotted #666666;
    border-bottom: 1px dotted #666666;
}

.navigation, .content{
    display: block;
    width:calc(100% - 500px);
    float:left;
}

.notification{
    display: block;
    width:250px;
    height:100vh;
    border-left: 1px dotted #666666;
    float: right;
}

.navigation, .content, notification{
    transform: all 1.3s ease-in-out;
}

.toggle-menu{
    padding: 5px;
    border: 1px solid #999999;
    cursor: pointer;
    background-color: #999999;
}

/* User profile Menu List */
.userprofile{
    display: block;
    width: 100%;
    height:110px;
}
.userprofile.google{
    background-image: url("/assets/images/google.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;    
}
.userprofile.facebook{
    background-image: url("/assets/images/facebook.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;    
}
.userprofile.twitter{
    background-image: url("/assets/images/twitter.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;    
}


#userprofile-photo{
    display: block;
    width: 70px;
    height: 70px;
    float: left;
}
#userprofile-photo > img{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    width:50px;
    height: 50px;
    border-radius: 50%;    
}

#userprofile-name{    
    display: block;
    width: calc(100% - 70px);
    height: 70px;
    line-height: 70px;
    float: left;
}
#userprofile-name > label{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.9em;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 800;
}
#userprofile-name > label:hover{
    color:#FF4444;
}
#userprofile-provider{
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: right;
    float: left;
}

#userprofile-provider > a{
    font-size: 0.9em;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 800;
}
#userprofile-provider > a:hover{
    color:#FF4444;
}

.menu-list{
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 10px;
    display: block;
    width: 100%;
    height:calc(100% - 160px);;
}

.menu-list > li{
    margin-left: -20px;
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #999999;
}

.menu-list > li > label{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.1em;
    font-weight: 800;
    cursor: pointer;
}
.menu-list > li > #menu-subscrible-check{
    font-size: 1.2em;
}
.menu-list > li > #menu-subscrible-check > div{
    margin-left: 30px;
}
.menu-list > li > #menu-notification-check{
    font-size: 1.2em;
}
.menu-list > li > #menu-notification-check > div{
    margin-left: 20px;
}

.menu-list > li > #menu-subscrible-check > div.fa-toggle-on{
    color: #993333;
}

.menu-list > li > #menu-notification-check > div.fa-toggle-on{
    color: #993333;
}

.signout{
    display: block;
    width: 100%;
    height:50px;  
    line-height: 50px;
    text-align: center;
}

.signout > label{
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 800;
    color:#FF4444;
}
.signout > label:hover{
    color:#004080;
}

/* hidden notification screen ================== */
@media screen and (max-width:950px) {
    .side{
        position: fixed;
        top: 0;
        left: -100px;
        background: #000000;
        opacity: 0.3;
    }

.navigation, .content, .footer{
        background: #505000;
}

    .navigation, .content{
    width:calc(100% - 250px);
    }
}

/* Mobile size screen ================== */
@media screen and (max-width:600px) {
    .notification{
        display: none;
    }

    .navigation, .content{
        width:100%;
    }
}
