
<div class="notification"></div>
<div class="side">
  <div class="userprofile">
    <div id="userprofile-photo">
      <img src="">
    </div>
    <div id="userprofile-name">
      <label></label>
    </div>
    <div id="userprofile-provider">
      <a target="_blank" ></a>
    </div>
  </div>
  <ul class="menu-list">
    <li class="menu-subscrible">
      <label for="menu-subscrible-check">Subscrible</label>
      <input type="checkbox" class="fa fa-toggle-off" id="menu-subscrible-check">
    </li>
    <li class="menu-notification">Notification</li>
    <li class="menu-friend">Friend</li>
    <li class="menu-activity">Activity</li>
  </ul>
  <div class="signout">
      <label (click)="Signout()">Sign out</label>
  </div>
</div>
<div class="navigation">
    <div class="toggle-menu fa fa-bars "></div>
</div>
<div class="content">
      <button (click)="Subscrible()">Subscrible</button>
      <button (click)="Unsubscrible()">Unsubscrible</button>
</div>