.side{
    position: relative;
    display: block;
    width: 250px;
    height: 100%;
    float: left;
    border-right: 1px solid #AAAAAA;
}

.side-hide{
    display: none;
}

.navigation{
    display: block;
    width: calc(100% - 250px);
    height: 45px;;
    float: left;
}
.title{
    display: block;
    width: calc(100% - 40px);
    height: 45px;
    line-height: 45px;
    font-weight: 800;
    text-align: center;
    float: left;
}

.content{
    display: block;
    width: calc(100% - 500px);
    height: calc(100% - 45px);
    float: left;
}

.notification{
    display: block;
    width: 250px;
    height: calc(100% - 45px);
    float: left;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;    
}

.navigation > .toggle-menu{
    display: none;
    width: 40px;
    height: 45px;
    padding: 13px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #555555;
    float: left;
}
.navigation > .toggle-menu:hover{
    background-color: #c0c0c0;
    color: #555555;
}

/* User profile Menu List */
.userprofile{
    display: block;
    width: 100%;
    height:110px;
}
.userprofile.google{
    background-image: url("/assets/images/google.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;    
}
.userprofile.facebook{
    background-image: url("/assets/images/facebook.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;    
}
.userprofile.twitter{
    background-image: url("/assets/images/twitter.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;    
}


#userprofile-photo{
    display: block;
    width: 70px;
    height: 70px;
    float: left;
}
#userprofile-photo > img{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    width:50px;
    height: 50px;
    border-radius: 50%;    
}

#userprofile-name{    
    display: block;
    width: calc(100% - 70px);
    height: 70px;
    line-height: 70px;
    float: left;
}
#userprofile-name > label{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.9em;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 800;
}
#userprofile-name > label:hover{
    color:#FF4444;
}
#userprofile-provider{
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: right;
    float: left;
}

#userprofile-provider > a{
    font-size: 0.9em;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 800;
}
#userprofile-provider > a:hover{
    color:#FF4444;
}

.menu-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 10px;
    display: block;
    width: 100%;
    height:calc(100% - 160px);;
}

.menu-list > li{
    margin-left: -20px;
    padding-left: 20px;
    height: 45px;
    line-height: 45px;
    border-bottom: 0.5px solid #f0f0f0;
}
.menu-list > li.menu:hover{
    cursor: pointer;
    background-color: #e0e0e0;
}

.menu-list > li > label{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.1em;
    font-weight: 800;
    cursor: pointer;
}


.menu-list > li > #menu-subscrible-check{
    font-size:0.9em;
}
.menu-list > li > #menu-subscrible-check > div{
    font-size: 1.1em;
    margin-left: 10px;
}
.menu-list > li > #menu-notification-check{
    font-size: 0.9em;
}
.menu-list > li > #menu-notification-check > div{
    font-size: 1.1em;
    margin-left: 42px;
}

.menu-list > li > #menu-subscrible-check > div.fa-toggle-on{
    color: #993333;
}

.menu-list > li > #menu-notification-check > div.fa-toggle-on{
    color: #993333;
}

.signout{
    display: block;
    width: 100%;
    height:50px;  
    line-height: 50px;
    text-align: center;
}

.signout > label{
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 800;
    color:#FF4444;
}
.signout > label:hover{
    color:#004080;
}

/* ================================================== */

.mainview{
    display: block;
    width: 100%;
    height: 100%;
}
.mainview.none{
    display:none;
}

.questionview{
    display: block;
    width: 100%;
    height: 100%;
}
.questionview.none{
    display:none;
}

.friendview{
    display: block;
    width: 100%;
    height: 100%;
}
.friendview.none{
    display:none;
}

/*  -----  */
.quest-topic{
    display: block;
    width: 100%;
    height: 55px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.quest-topic > input{
    width: calc(100% - 40px);
    height: 35px;
    line-height: 35px;
    border: 1px solid #777777;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.03em;
}
.quest-topic > div{
    display: block;
    width: 40px;
    height: 35px;
    line-height: 35px;
    background-color: #777777;
    color: #DDDDDD;
    font-size: 0.9em;
    text-align: center;
    float: left;
}
.quest-topic > div:hover{
    cursor: pointer;
    background-color: #555555;
    color: #FFFFFF;
}
/*  -----  */
.quest-header{
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 30px;
    padding-right: 20px;
}

.quest-new{
    display: block;
    width: 100%;
    height: 40px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0;
}
.quest-new > input{
    width: calc(100% - 40px);
    height: 30px;
    line-height: 30px;
    border: 1px solid #777777;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.9em;
}
.quest-new > div{
    display: block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    background-color: #777777;
    color: #DDDDDD;
    font-size: 0.8em;
    text-align: center;
    float: left;
    list-style-type: none;
}
.quest-new > div:hover{
    cursor: pointer;
    background-color: #555555;
    color: #FFFFFF;
}

.quest-list{
    margin: 0;
    display: block;
    width: 100%;
    height: calc(100% - 140px);
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: none;
}
.quest-list > li{
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
}

/* ------ */
.friend-header{
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 30px;
    padding-right: 20px;
}

.friend-new{
    display: block;
    width: 100%;
    height: 40px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0;
}
.friend-new > input{
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #777777;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.9em;
}

.friend-list{
    margin: 0;
    display: block;
    width: 100%;
    height: calc(100% - 90px);
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: none;
}
.friend-list > li{
    display: block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    margin-top: 10px;
    box-shadow: 0 0 0.5px 0.5px #888888;
}

.previewp{
    margin-left: 20px;
}
#preview{
    position: absolute;
    display: block;
    width: 320px;
    max-height: 300px;
    border: 1px solid #cccccc;
    background-color: #FFFFFF;
    padding: 10px;
    padding-top: 0;
    box-shadow: 0.5px 1px 1px 1.5px #999999;
}
.preview-hide{
        display: block;
        margin-left: 270px;;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        cursor: pointer;
        color: #000000;
    }
    .preview:hover{
        color: #FF4444;
        background: #FFFFFF;
        opacity: 0.7;
    }
    .friend-item{
        display: block;
        width: 100%;
        height: 50px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .friend-item:hover{
        cursor: pointer;
        background-color: #eeeeee;
    }    
    .friend-item > div{
        display: block;
        width: 40px;
        height: 40px;
        float: left;
    }
    .friend-item > div > img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }    
    .friend-item  > label{
        display: block;
        width: calc(100% - 40px);
        height: 20px;
        line-height: 20px;
        color: #004080;
        font-size: 0.9em;
        float: left;
        padding-left: 40px;
        padding-right: 10px;
    }      

    
    .friend-item-list{
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .friend-item-list:hover{
        cursor: pointer;
        background-color: #eeeeee;
    }    
    .friend-item-list > div{
        display: block;
        width: 40px;
        height: 40px;
        float: left;
    }
    .friend-item-list > div > img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }    
    .friend-item-list  > label{
        display: block;
        width: calc(100% - 40px);
        height: 20px;
        line-height: 20px;
        color: #004080;
        font-size: 0.9em;
        float: left;
        padding-left: 40px;
        padding-right: 10px;
    }      
































/* ================================================ */


/* hidden notification screen ================== */
@media screen and (max-width:950px) {
    .side{
        position: fixed;
        top: 0;
       left: -250px;
        background: #FFFFFF;
        transition: all 0.3s ease-in-out;
        border:0;
        box-shadow: 0.5px 1px 1px 1.5px #999999;
    }
    .side-hide{
        display: block;
        position: absolute;
        margin-left: 225px;;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        cursor: pointer;
        color: #FFFFFF;
        transition: all 0.3s ease-in-out;
    }
    .side-hide:hover{
        color: #FF4444;
        background: #FFFFFF;
        opacity: 0.7;
    }
    .side.hide{
       left: -250px;
    }    
    .side.show{
       left: 0;
    }       

    .title{
        width: calc(100% - 40px);
    }

    .navigation > .toggle-menu{
        display: block;
    }

    .navigation, .content{
    width:calc(100% - 250px);
    }
}

/* Mobile size screen ================== */
@media screen and (max-width:600px) {
    .notification{
        display: none;
    }

    .navigation, .content{
        width:100%;
    }
}