<div class="signin">
    <div class="signinlayer">
      <div class="logo">
        <img src="/assets/images/elupper.png"/>
      </div>
      <div class="title">
        <ul> miniHappy มาช่วยเพื่อนเลือกโหน่ยยย
          <li>เลือกลงชื่อเข้าใช้งานจากตัวเลือกด้านล่าง</li>
          <li>ค้นหาเพื่อนของคุณที่ใช้งานโปรแกรมนี้ และเก็บพวกเค้าไว้ในรายการเพื่อน</li>
          <li>ชานเพื่อนของคุณมาช่วยตัดสินใจอะไรบางอย่าง</li>
        </ul>
      </div>
      <div class="vendor">
        <ul>
          <li><img id="google" (click)="SigninGoogle()" src="/assets/icons/google+.png" title="Sign in on Google+"/></li>
          <li><img id="facebook" (click)="SigninFacebook()" src="/assets/icons/facebook.png" title="Sign in on Facebook"/></li>
          <li><img id="teitter" (click)="SigninTwitter()" src="/assets/icons/twitter.png" title="Sign in on Twitter"/></li>
        </ul>
      </div>
      <div class="copyright">&copy;2017 --  By  Kitti Kanphan [CountrySide Team]</div>
    </div>
</div>