@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/* You can add global styles to this file, and also import other style files */
/*
    -- Reset CSS
    --  Global CSS
*/

body {
    font-size: 16px;
    padding:0;
    margin:0;
}

h1{ font-size: 1.8em;}
h2{ font-size: 1.6em;}
h3{ font-size: 1.5em;}
h4{ font-size: 1.4em;}
h5{ font-size: 1.3em;}
h6{ font-size: 1.15em;}

* {
    /* Use boder inside html element */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    /* disable style default */
    -webkit-appearance: none; /* iOS Safari */
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    /* disable style default outline */
    outline: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #FF4444;
}

.noselect {
    /* disable text selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Radio and Checkbox */
    input[type="radio"].radio,
    input[type="checkbox"].checkbox {
        display: none;
    }

        input[type="radio"].radio + label,
        input[type="checkbox"].checkbox + label {
            line-height: 35px;
            display: inline-block;
            padding-left: 30px;
            padding-right: 10px;
        }

            input[type="radio"].radio + label:hover,
            input[type="checkbox"].checkbox + label:hover {
                color: #60a7d5;
            }

            input[type="radio"].radio + label:before,
            input[type="checkbox"].checkbox + label:before {
                margin-left: -20px;
                padding-right: 50px;
            }

            input[type="radio"].radio + label:before {
                font-family: FontAwesome;
                content: "\f10c";
                font-size: 16px;
            }

        input[type="radio"].radio:checked + label:before {
            font-family: FontAwesome;
            content: "\f192";
            font-size: 16px;
        }

        input[type="checkbox"].checkbox + label:before {
            font-family: FontAwesome;
            content: "\f096";
            font-size: 16px;
        }

        input[type="checkbox"].checkbox:checked + label:before {
            font-family: FontAwesome;
            content: "\f046";
            font-size: 16px;
        }
/* end Radio and Checkbox */        